.hyperlink {
    -fx-text-fill: black;            
    -fx-border-color: transparent;   
    -fx-underline: false;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}

.hyperlink:hover {
    -fx-text-fill: black;        
}


.hyperlink:visited {
    -fx-text-fill: black;           
}

.hyperlink:armed {
    -fx-text-fill: black;            
}

.hyperlink {
    -fx-underline: false;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}
.hyperlink:focused {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.VBox{
    -fx-background-color: #36c000ff;
}